<h2>Select client</h2>

<%= text_field_tag :query, "Erin", id: "clientQuery", :class => "span3", :placeholder => "Search by first or last name, or email" %>
<a class="btn" id="clientSearch">Search</a>

<div id="client-results"></div>

<script type="text/javascript">
$(document).ready(function() {

  $("#clientSearch").on("click",function() {
    var searchTerm = $("#clientQuery").val();
    updateClientView(searchTerm);
  });

});
</script>

<script id="clientsView" type="text/x-handlebars-template">
  {{#each clients}}
    <div class='client'>
      <a href="{{appointment_path}}">{{full_name}}</a>, {{email}}
    </div>
  {{/each}}
</script>