<div id="sidebar">
  <h3>Meghan Peters, LMT</h3><br>

  <p>
    <strong>Contact</strong><br>
    <i class="icon-phone"></i> 586.604.8834<br>
    <i class="icon-envelope"></i> newleafmassageandwellness@gmail.com<br><br>
    <i class="icon-leaf"></i> Cuyahoga Chiropractic<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14100 Cedar Road, Suite 100<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;University Heights, OH 44121<br>
  </p>

  <p id="hours">
    <strong>Hours</strong><br>
    Monday: 8 am - 1 pm; 7 - 8:30 pm<br>
    Tuesday: Closed<br>
    Wednesday: 7 - 8:30 pm<br>
    Thursday: 8 am - 1 pm; 6:30 - 8:30 pm<br>
    Friday: 8 am - 8 pm<br>
    Saturday: 8 am - 6 pm<br>
    Sunday: Closed<br>
  </p>
</div>