<div class="span5">
  <h3>Welcome!</h3>

  <p>Hello and welcome to New Leaf Massage and Wellness!  My name is Meghan Peters, and I am a licensed massage therapist and Reiki Master Practitioner.  My mission is to help you turn over your own new leaf in your health and wellbeing.  We all have unique and wonderful ways that we use our bodies in work and play, so whatever your life's passion, I am here to support you as you grow in body, mind, and spirit.</p>

  <p>Many people view massage as a special treat or pampering, or only make time for massage when they are really hurting.  Why not make it part of your regular self-care routine?  Therapeutic massage has many benefits that make it one of the best and most cost-effective ways to invest in your overall health and wellness, and keep you feeling great.</p>
</div>

<div class="span2" id="home-pic">
  <%= image_tag("meghan.jpg", :class => "img-circle") %>
</div>