<h4 id="appt-disclaimer">Please note that online booking is currently for demo purposes only!  To schedule an appointment, please call or email me.</h4>
<br>

<h2><%= "New appointment for #{@user.full_name}" %></h2>

<%= render :partial => "form" %>