<div class="span5">

  <p class="lead">Meghan Peters, LMT, NCTMB</p>

  <p>Since graduating from Harmony Path School of Massage Therapy in 2012, I have pursued advanced training in massage modalities including Prenatal, Oncology and Lomi Lomi.</p>

  <p>In addition to being a massage therapist, I am also a chiropractic assistant at Cuyahoga Chiropractic, the office of Dr. Jessica Shelley.  I cannot speak highly enough about Dr. Shelley, who shares my gentle, wellness-based philosophy of helping the body to heal itself and maintaining it with regular care.  Massage and chiropractic care are very different but work synergistically, and I'm happy to speak to you about how they may be able to help you.  To make an appointment with Dr. Shelley please call Cuyahoga Chiropractic directly at 216-297-9779.</p>

  <p>When I am not working, I enjoy walking, hiking, camping, gardening, spending time with my husband, Nic, and generally being outdoors.  I'm passionate about natural, local, whole-food cooking and I'm constantly inventing new culinary creations with the week's offerings from her City Fresh CSA share, pastured meats from Millgate Farms, raw honey from Ohio Honey Company, and many other local food producers.</p>
</div>

<div class="span2">
  <br>
  <%= image_tag("meghan_about.jpg", :class => "img-rounded") %>
</div>