<div class="span5">
  <p>Meghan is originally from Sterling Heights, Michigan, but has called Cleveland home for the past three years.  Naturally attuned towards others' needs and inclined towards helping people from a young age, Meghan majored in Psychology at the University of Michigan.  After graduation, Meghan lived in Japan for three years, teaching English to middle schoolers, before returning Stateside to teach Japanese at a middle school in North Carolina.</p>

  <p>While she loved teaching, Meghan discovered her true calling for helping others through massage and bodywork.  She graduated from Harmony Path School of Massage in 2012 and is licensed in the state of Ohio.  Meghan is interested in holistic wellness, focusing not only on the anatomical and physiological aspects of bodywork, but also the effects of massage on the mind and overall emotional well-being.  In addition to clinical massage for adults, Meghan is experienced in reiki and pediatric massage.</p>

  <p>When she is not with her clients, Meghan enjoys hiking, cooking, spending time with her husband, Nic, and is an avid camper.</p>
</div>

<div class="span2">
  <br>
  <%= image_tag("meghan_about.jpg", :class => "img-rounded") %>
</div>