<div class="span6">
  <h3>FAQ</h3>
  <ul>
    <li><strong>I have never gotten a massage before.  What should I expect?</li></strong>
    <p>First of all - welcome!  I am happy to be a part of your journey towards wellness with massage.  As a first time client (whether you have had a massage elsewhere or this is your first massage), you will need to fill out a brief health history.  It's important to list all health concerns and any medications you are on, as these may impact the bodywork I am able to safely perform.</p>
    <p>Before we begin the massage, we will also talk about what conditions you would like addressed through the massage, be it relaxation or pain relief for a specific part of the body.  This is your time - let me know what I can do to maximize your comfort and help you enjoy your session to the fullest!</p>
    <li><strong>Will the massage hurt?</strong></li>
    <p>There are different techniques, or modalities, of massage that apply different degrees of pressure and manipulate the body in different ways.  If you are very sensitive to pain, please let me know and I can take this into account during your session.  One thing to keep in mind, however, is that pain can be a response to inflamed or injured muscles or tissue.  Many clients experience a "hurt so good" feeling where pain subsides through the therapeutic effect of the bodywork.</p>
    <p>The most important thing to keep in mind is to communicate with me if something is hurting.  It will not hurt my feelings; I will tailor your massage to your needs, so please let me know!</p>
    <li><strong>What is your typical massage style?</strong></li>
    <p>My massage has been described as being incredibly nurturing, healing, restorative, energizing, and effective.  My approach focuses on gentle yet highly effective techniques that encourage the body to make changes on its own.  I see myself as a partner with you in your body's own healing, so I work with the body rather than fighting it.  My approach is unique to each person and each massage, and I incorporate a wide variety of techniques depending on what is needed to bring the body into ease and balance.  I am also a Reiki Master Practitioner, and I typically infuse Reiki into my massage sessions.  Both energy and touch are powerful healing tools, and they combine seamlessly to create the rejuvenating experience that I provide.</p>
    <li><strong>Do I have to be naked?</strong></li>
    <p>This depends on your comfort level.  Most of my patients prefer to disrobe completely; the intimate parts of your body will be covered by a sheet at all times.  If you feel more comfortable leaving your undergarments on, please do - the most important thing is relaxation, so choose whatever will make you feel the most relaxed.</p>
    <li><strong>How will I feel after my massage?</strong></li>
    <p>Most of my clients feel very relaxed, and may experience a significant decrease in aches and pains.  If you receive a firmer massage, you may be slightly sore afterwards or the next day, as your muscles adjust to the manipulation from the massage.  A hot shower or bath may ease the soreness.</p>
    <p>After your session, you should remember to drink a glass or two of water to flush the toxins that were released from your muscles from your body.</p>
    <li><strong>Do you offer appointments outside of your normal hours, or will you visit my house?</strong></li>
    <p>Typically I do not.  If you are an established patient, please talk to me about the specifics.</p>
  </ul>
</div>