<div class="span6">
  <p>I currently offer massages in in 15 minute intervals between 30 and 90 minutes.  Look for online scheduling coming soon, but in the meantime, please call or email me to book an appointment.</p><br>

  <strong>Self-Care Reward Program</strong><br>
  <p>In an effort to support my clients who are investing in their health and taking regular care of themselves through massage, I offer $10 off sessions when you get a massage at least once per calendar month.  New clients can also take advantage of this pricing by re-booking at the time of service.</p>

  <p>Ask me about my referral incentive program!</p><br>
</div>

<div class="span4 offset-by-one">
  <table class="table">
    <tr>
      <th>Service</th>
      <th>Rate</th>
    </tr>
    <tr>
      <td>30 minute massage</td>
      <td>$45</td>
    </tr>
    <tr>
      <td>45 minute massage</td>
      <td>$65</td>
    </tr>
    <tr>
      <td>60 minute massage</td>
      <td>$80</td>
    </tr>
    <tr>
      <td>75 minute massage</td>
      <td>$90</td>
    </tr>
    <tr>
      <td>90 minute massage</td>
      <td>$100</td>
    </tr>
  </table>
</div>

