<div class="span6">
  <p>I currently offer massages in 60 minute and 90 minute intervals, which can be conveniently scheduled online.  Please note that massage packages can be shared with friends, but all massages must be used within 6 months of purchase.</p><br>

  <strong>Self-Care Reward Program</strong><br>
  <p>In an effort to support my clients who are investing in their health and taking regular care of themselves through massage, I offer $10 off sessions when you get a massage at least once per calendar month.  New clients can also take advantage of this pricing by re-booking at the time of service.</p>

  <p>Ask me about my referral incentive program!</p><br>
</div>

<div class="span4 offset-by-one">
  <table class="table">
    <tr>
      <th>Service</th>
      <th>Rate</th>
    </tr>
    <tr>
      <td>60 minute massage</td>
      <td>$80</td>
    </tr>
    <tr>
      <td>90 minute massage</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>Package of three<br>60 minute massages</td>
      <td>$220</td>
    </tr>
    <tr>
      <td>Package of three<br>90 minute massages</td>
      <td>$270</td>
    </tr>
  </table>
</div>