<div class="span6">
  <p>Meghan currently offers massages in 60 minute and 90 minute intervals, which can be conveniently scheduled online.  Please note that all massage packages can be shared with friends, but all massages must be used within 6 months of purchase.</p><br><br>
</div>

<div class="span4 offset-by-one">
  <table class="table">
    <tr>
      <th>Service</th>
      <th>Rate</th>
    </tr>
    <tr>
      <td>60 minute massage</td>
      <td>$60</td>
    </tr>
    <tr>
      <td>90 minute massage</td>
      <td>$80</td>
    </tr>
    <tr>
      <td>Package of three<br>60 minute massages</td>
      <td>$150</td>
    </tr>
    <tr>
      <td>Package of three<br>90 minute massages</td>
      <td>$200</td>
    </tr>
  </table>
</div>